.home-container1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
 
.home-home {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  display: block;
}
 
.home-header {
  top: 26px;
  right: 71px;
  width: 166px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  gap: 100px;
}
 
.home-cv {
  width: 18px;
  height: 10px;
  position: relative;
  box-sizing: content-box;
}
 
.home-about {
  width: 48px;
  height: 14px;
  position: relative;
  box-sizing: content-box;
}
 
.home-text1 {
  top: 144px;
  left: 257px;
  color: rgba(255, 255, 255, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Sofia Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-text5 {
  top: 85px;
  left: 138px;
  color: rgba(255, 255, 255, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Sofia Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-link {
  display: contents;
}
 
.home-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text9 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
