.about-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  position: relative;
}
 
.about-about1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 1);
}
 
.about-desktop {
  width: 100%;
  min-height: 1100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.about-image {
  top: 188px;
  left: 849px;
  width: 400px;
  height: 533px;
  position: absolute;
}
 
.about-underscore {
  width: 48px;
  height: 2px;
  position: absolute;
  top: 18px;
  left: 0;
  box-sizing: content-box;
}
 
.about-text10 {
  top: 706px;
  left: 256px;
  color: rgba(0, 0, 0, 1);
  width: 375px;
  height: auto;
  position: absolute;
  font-size: 20px;
  text-align: left;
  font-family: "Sofia Sans", sans-serif;
  font-weight: 400;
  font-variation-settings: 'wght' 400;
  font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  -moz-font-feature-settings: "ss01";
  font-synthesis: none;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.about-text16 {
  top: 483px;
  left: 256px;
  color: rgba(0, 0, 0, 1);
  width: 419px;
  height: auto;
  position: absolute;
  font-size: 20px;
  text-align: left;
  font-family: "Sofia Sans";
  font-weight: 400;
  font-feature-settings: "ss01" on;
  line-height: 99.98000264167786%;
  font-stretch: normal;
  text-decoration: none;
}
 
.about-text17 {
  top: 219px;
  left: 256px;
  color: rgba(0, 0, 0, 1);
  width: 419px;
  height: auto;
  position: absolute;
  font-size: 20px;
  text-align: left;
  font-family: "Sofia Sans";
  font-weight: 400;
  font-feature-settings: "ss01" on;
  line-height: 99.98000264167786%;
  font-stretch: normal;
  text-decoration: none;
}
 
.about-topics {
  top: 188px;
  left: 137px;
  width: 524px;
  height: 513px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.about-text24 {
  top: 487px;
  color: rgba(0, 0, 0, 1);
  width: 268px;
  height: auto;
  position: absolute;
  font-size: 20px;
  text-align: left;
  font-family: "Sofia Sans";
  font-weight: 400;
  font-feature-settings: "ss01" on;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.about-text25 {
  color: rgba(0, 0, 0, 1);
  width: 524px;
  height: auto;
  position: absolute;
  font-size: 20px;
  text-align: left;
  font-family: "Sofia Sans";
  font-weight: 400;
  font-feature-settings: "ss01" on;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.about-header {
  width: 100%;
  height: 14px;
  display: flex;
  position: fixed;
  top: 26px;
  padding: 0 71px;
  justify-content: space-between;
  z-index: 100;
}

.about-nav-left {
  display: flex;
  align-items: center;
}

.about-nav-right {
  display: flex;
  align-items: center;
  gap: 100px;
}

.about-nav-right a {
  position: relative;
  display: inline-block;
}
 
.about-mikhailkondratev {
  width: 151px;
  height: 14px;
}
 
.about-cv {
  width: 18px;
  height: 10px;
}
 
.about-about2 {
  width: 48px;
  height: 14px;
}
 
.about-link {
  display: contents;
}
 
.about-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.about-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.about-text26 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
