* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2144_107 {
  width: 100%;
  height: 1100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2144_108 {
  width: 100%;
  height: 1100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2144_114 {
  width: 375px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 159px;
  left: 140px;
  font-family: Sofia Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2144_118 {
  width: 419px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 711px;
  left: 140px;
  font-family: Sofia Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2144_112 {
  width: 419px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 483px;
  left: 140px;
  font-family: Sofia Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2144_113 {
  width: 268px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 135px;
  left: 21px;
  font-family: Sofia Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2144_110 {
  width: 524px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 453px;
  left: 21px;
  font-family: Sofia Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2178_148 {
  width: 100%;
  height: 68px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2144_116 {
  width: 48px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1322px;
}
.v2144_109 {
  width: 150px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 21px;
}
.v2144_115 {
  width: 18px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 1203px;
}
.v2144_117 {
  width: 48px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 1322px;
}
.v2178_150 {
  width: 452px;
  height: 602px;
  background: url("../images/v2178_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 849px;
  overflow: hidden;
}
