.about-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.about-about1 {
  width: 100%;
  height: 1100px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.about-desktop {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.about-text10 {
  top: 159px;
  left: 140px;
  color: rgba(0, 0, 0, 1);
  width: 375px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Sofia Sans;
  font-weight: 400;
  line-height: 99.93499517440796%;
  font-stretch: normal;
  text-decoration: none;
}
 
.about-text16 {
  top: 711px;
  left: 140px;
  color: rgba(0, 0, 0, 1);
  width: 419px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Sofia Sans;
  font-weight: 400;
  line-height: 99.98000264167786%;
  font-stretch: normal;
  text-decoration: none;
}
 
.about-text17 {
  top: 483px;
  left: 140px;
  color: rgba(0, 0, 0, 1);
  width: 419px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Sofia Sans;
  font-weight: 400;
  line-height: 99.98000264167786%;
  font-stretch: normal;
  text-decoration: none;
}
 
.about-text24 {
  top: 135px;
  left: 21px;
  color: rgba(0, 0, 0, 1);
  width: 268px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Sofia Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.about-text25 {
  top: 453px;
  left: 21px;
  color: rgba(0, 0, 0, 1);
  width: 524px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Sofia Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.about-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 68px;
  position: absolute;
}
 
.about-underscore {
  top: 43px;
  left: 1322px;
  width: 48px;
  height: 2px;
  position: absolute;
  box-sizing: content-box;
}
 
.about-mikhailkondratev {
  top: 26.2001953125px;
  left: 21.35693359375px;
  width: 151px;
  height: 14px;
  position: absolute;
  box-sizing: content-box;
}
 
.about-cv {
  top: 30px;
  left: 1203px;
  width: 18px;
  height: 10px;
  position: absolute;
  box-sizing: content-box;
}
 
.about-about2 {
  top: 26.33984375px;
  left: 1322px;
  width: 48px;
  height: 14px;
  position: absolute;
  box-sizing: content-box;
}
 
.about-image {
  top: 132px;
  left: 849px;
  width: 452px;
  height: 602px;
  position: absolute;
}
 
.about-link {
  display: contents;
}
 
.about-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.about-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.about-text26 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
